{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Płeć</th>
                    <th scope="col">Klasa</th>
                    <th scope="col">Oceny</th>
                    <th scope="col">Dodaj Ocenę</th>
                </tr>
            </thead>
            <tbody>
                {% for s in students %}
                <tr>
                    <th scope="row">{{s.id}}</a></th>
                    <td>{{s.student_name}}</td>
                    <td>{{s.surname}}</td>
                    <td>{{s.gender_key.gender_name}}</td>
                    <td>{{s.class_key.class_name}}</td>
                    <td><a href='/lista_ocen/{{s.id}}'>Zobacz oceny</a></td>
                    <td><a href='/dodaj_ocene/{{s.id}}'>Dodaj ocenę &rarr;</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock%}
