{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}


<div class="row">
    <div class="col-lg-6 mx-auto">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id przedmiotu</th>
                    <th>Oceny</th>
                </tr>
            </thead>
            <tbody>

                {% for m in marks %}
                <tr>
                    <td>{{m.subject_key}}</td>
                    <td>{{m.value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>

        

{% endblock%}
